name: Full Stack CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  backend:
    name: Build Spring Boot Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build backend with Maven
        working-directory: library-webapp
        run: mvn clean package -DskipTests

  frontend:
    name: Build React Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install frontend dependencies
        working-directory: library-frontend
        run: npm install

      - name: Build React app
        working-directory: library-frontend
        run: npm run build

  docker-build:
  name: Build Docker Images
  runs-on: ubuntu-latest
  needs: backend

  steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend Docker image
        run: |
          docker build -t library-webapp ./library-webapp

      - name: Build frontend Docker image
        run: |
          docker build -t library-frontend ./library-frontend

